.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 25px 0;
	
	list-style: none;

	background-color: transparent;
	
	.breadcrumb-item+.breadcrumb-item::before {
		font-size: 11px;
	}
	a {
		color: #0d59a0;
		text-decoration: none !important;
	}
	.breadcrumb-item.active {
		color: #6c757d;
	}
	.breadcrumb-item {
		font-size: 13px;
	}
}