.footer {
	margin-top: auto;
	background-image: url('../images/footer-bg-img.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	@include mh(200px, 360px, $mixin-min-viewport, $mixin-max-viewport, 394px);

	display: flex;
	flex-wrap: wrap;
	& > * {
		width: 100%;
		flex: 1 1 auto;
		margin-top: auto;
	}
	@media only screen and (min-width: 1920px) {
		background-size: cover;
	}
	h2 {
		text-align: center;
		margin-bottom: 15px;

		@include fz(26px, 32px, $mixin-min-viewport, $mixin-max-viewport, 32px);
		@include lh(30px, 42px, $mixin-min-viewport, $mixin-max-viewport, 42px);
		font-weight: 900;
		font-family: $MW;
		font-style: italic;
		color: #0d59a0;
		span {
			@include fz(16px, 22px, $mixin-min-viewport, $mixin-max-viewport, 22px);
			display: block;
		}
	}
}
.footer__in {

	@include pt(20px, 40px, $mixin-min-viewport, $mixin-max-viewport, 40px);
	@include pt(20px, 40px, $mixin-min-viewport, $mixin-max-viewport, 40px);
	@include pl(15px, 40px, $mixin-min-viewport, $mixin-max-viewport, 40px);
	@include pr(15px, 40px, $mixin-min-viewport, $mixin-max-viewport, 40px);
	min-height: 300px;
	margin-top: 20px;

	border-radius: 10px 10px 0 0;
	background-color: #a2c634;
	overflow-x: hidden;
}

.footer__img {
	@include md() {
		flex: 0 0 283px;
		max-width: 283px;
		width: 100%;
	}
	// flex: 0 0 (100 - 74) + %;
	// max-width: (100 - 74) + %;
	img {
		position: relative;
		left: 0;
		width: 100%;
		@include sm() {
			max-width: none;
			width: 299px;
			height: 282px;
			top: -10px;
		}

	}
}
.footer__main {
	// width: 100%;
	@include md() {
		flex: 1 1 auto;
	}
	// flex: 0 0 74%;
	// max-width: 74%;
}
.footer__info {
	margin-bottom: 20px;
	.iconText {
		@include fz(17px, 23px, $mixin-min-viewport, $mixin-max-viewport, 23px);
	}
	.iconText_text_small {
		@include fz(16px, 17px, $mixin-min-viewport, $mixin-max-viewport, 17px);
	}
}

.footer__developed {
	@include fz(16px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	line-height: 1;
	font-weight: 500;
	color: #0d59a0;

	// display: flex;
	// flex-wrap: wrap;
	// align-items: flex-end;
	& > * {
		vertical-align: bottom;
	}
	img {
		position: relative;
		top: -4px;
	}
}

.footer__info {
}