.header {
	@include pt(15px, 26px, $mixin-min-viewport, $mixin-max-viewport, 26px);
	@include pb(15px, 26px, $mixin-min-viewport, $mixin-max-viewport, 26px);
	overflow-x: hidden;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		background-image: url('../images/header-bg-img.png');
		background-repeat: no-repeat;
		background-position: 50% 0;
		
		min-height: 930px;
		background-size: cover;
		@include mmd() {
			min-height: 1200px;
		}
	}
}
.header__container {
	position: relative;
	@include mmd() {
		padding-top: 170px;
	}
	@media only screen and (max-width: 480px) {
		padding-top: 220px;
	}
}
.header__title {
	@include mb(15px, 50px, $mixin-min-viewport, $mixin-max-viewport, 50px);
	@include msm() {
		text-align: center;
	}
}
.header__logo {
	position: absolute;
	top: -10px;
	left: 0;
	width: 200px;
	@media only screen and (max-width: 480px) {
		top: 45px;
	}
	@include sm() {
		// width: auto;
	}
	@include md() {
		top: auto;
		left: 0;
		bottom: 0;
		width: auto;
	}
	@include lg() {
		top: 65px;
		bottom: auto;
	}
	@include xl() {
		top: 0;
		left: 3%;
	}
}
.header__info {
	position: relative;
	@include sm() {
		margin-left: 130px;
		
	}
	@include md() {
	}
	@include xl() {
		margin-left: 40px;
	}
	&:after {
		content: '';

		position: absolute;
		left: 100%;
		top: -55px;
		z-index: -1;
		margin-left: -60px;

		background-image: url('../images/header-bg-img-3.png');
		background-position: 0 0;
		background-repeat: no-repeat;

		width: 252px;
		height: 249px;
		@include mxl() {
			left: 90%;
		}
		@include mmd() {
			left: 110%;
		}
		@include msm() {
			left: auto;
			right: -110px;
			top: -210px;
		}
		@media only screen and (max-width: 480px) {
			
		}
	}
}

.header__button {
	position: relative;
	z-index: 1;
	width: 295px;
	@include xl() {
		margin-right: 22px;
	}
	@include mmd() {
		position: absolute;
		top: 0;
		right: 15px;
	}
	@include msm() {
		// width: 200px;
	}
	@media only screen and (max-width: 480px) {
		width: 270px;
		font-size: 13px;
		right: auto;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

.header__button-menu {
	.fa {
		color: #fff;
		font-size: 30px;
	}
	@include xl() {
		display: none;
	}
	@include mmd() {
		position: absolute;
		top: 70px;
		right: 15px;
	}
}