.links {
	margin-right: -6px;
	margin-left: -6px;
	@include mt(30px, 70px, $mixin-min-viewport, $mixin-max-viewport, 70px);
	a {
		display: block;
	}
	.padding {
		padding-left: 6px;
		padding-right: 6px;
		margin-bottom: 6px;
	}
}