.mobile-fullPage {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	z-index: 2;
	
	transition: linear .2s;
	background-color: rgba(#000, .5);
	@include xl() {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		z-index: 2;

		background-color: transparent;
	}
	@include mxl() {
		padding-left: 0;
		padding-right: 0;
	}
	&.visible {
		left: 0;

		opacity: 1;
		z-index: 99999;
		.mobile-fullPage__content {
			// transform: translate(0, 0);
			transform: scale(1, 1);
			opacity: 1;
			visibility: visible;
		}
		.mobile-fullPage__button {
			opacity: 0;
			visibility: hidden;
		}
	}
}
.mobile-fullPage__title {
	font-weight: 700;
	color: #444;
	@include mb(10px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
}
.mobile-fullPage__content {
	display: flex;
	flex-direction: column;
	@include xl() {
		background-color: transparent;
		padding: 0;
	}
	@include mxl() {
		position: relative;

		max-width: 270px;
		height: 100%;
		padding-top: 40px;
	
		will-change: transform;
		border-radius: 0;
		transform: scale(0.1, 0.1);
		transition: .3s linear .4s;
	
		opacity: 0;
		visibility: hidden;
	}
}

.mobile-fullPage__content-in {
	flex: 1 1 auto;
	@include xl() {
		background-color: transparent !important;
	}
	@include mxl() {
		overflow: auto;
	}
}
.mobile-fullPage__button {
	position: fixed;
	right: 15px;
	bottom: 15px;

	transition: linear .2s;
	font-size: 16px;
	.icon {
		// z-index: -1;
		position: relative;
	}
	@include xl() {
		display: none;
	}
}
.mobile-fullPage__button_position_new {
	bottom: 50px;
}
.mobile-fullPage__close {
	position: absolute;
	top: 10px;
	right: 10px;

	font-size: 30px;
	color: #0d59a0;
	.icon {
		// z-index: -1;
		position: relative;
	}
	@include xl() {
		display: none;
	}
}

.mobile-fullPage_aside {
	@include lg() {
		position: static;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;

		background-color: transparent;
	}
	@include mlg() {
		padding-left: 0;
		padding-right: 0;
	}
	.mobile-fullPage__close {
		@include lg() {
			display: none;
		}
	}
	.mobile-fullPage__button {
		@include lg() {
			display: none;
		}
	}
	.mobile-fullPage__content-in {
		@include lg() {
			overflow: visible;
			background-color: transparent;
		}
		@include mlg() {
			overflow: auto;
			padding-right: 10px;
		}
	}
	.mobile-fullPage__content {
		@include lg() {
			background-color: transparent;
			padding: 0;
		}
		@include mxl() {
			position: static;

			max-width: none;
			height: auto;
			padding-top: 0;
			padding-left: 10px;
			padding-right: 10px;
			transform: scale(1, 1);
			
			opacity: 1;
			visibility: visible;
		}
		@include mlg() {
			position: relative;

			max-width: 270px;
			height: 100%;
			padding-top: 40px;
			transform: scale(0.1, 0.1);
		
			opacity: 0;
			visibility: hidden;
		}
	}
	.poll {
		@include mlg() {
			background: none;
			border: none;
		}
	}
}