.pagination {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	margin: 25px 0;
	padding: 0;


	list-style: none;
	li {
		// margin: 5px 3px 5px 2px;

		font-size: 16px;
		font-weight: 500;
		color: #474747;
		&.active > a, &.active > span, &.active > a:hover, &.active > span:hover, &.active > a:focus, &.active > span:focus {
			background-color: #0d59a0;
			border-color: #0d59a0;
			color: #fff;
			font-weight: 500;
		}
	}
	a, span {
		position: relative;
		padding: 7px 12px 5px;
		color: #a19f9d;
		background-color: #fff;
		border: 1px solid #ddd;
		margin-left: -1px;

		display: flex;
		align-items: center;
		justify-content: center;
		// width: 21px;
		// height: 25px;

		font-size: 16px;
		font-weight: 400;
		// color: #474747;
	}
}