.percent-block {
	margin: 15px 0;
	&__wrap {
		position: relative;
		height: 10px;
		border: 1px solid #E6E6E6;

		background-color: #F2F2F2;
	}
	&__scale {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	
		background-color: #1962a5;
	}
	&__deription {
		color: #0d59a0;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 10px;
		span {
			padding-left: 3px;
			padding-right: 3px;
		}
	}
}