.poll {
	@include pt(10px, 18px, $mixin-min-viewport, $mixin-max-viewport, 18px);
	@include pb(10px, 18px, $mixin-min-viewport, $mixin-max-viewport, 18px);
	@include pl(10px, 18px, $mixin-min-viewport, $mixin-max-viewport, 18px);
	@include pr(10px, 18px, $mixin-min-viewport, $mixin-max-viewport, 18px);
	border: 10px solid #7fdbef;
	border-radius: 10px;
	background: #e3f7fb;
	background: -moz-linear-gradient(top, #e3f7fb 0%, #3fccee 100%);
	background: -webkit-linear-gradient(top, #e3f7fb 0%,#3fccee 100%);
	background: linear-gradient(to bottom, #e3f7fb 0%,#3fccee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f7fb', endColorstr='#3fccee',GradientType=0 );
	h3 {
		margin-bottom: 25px;
		text-align: center;
	}
	input[type="radio"] {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		left: -9999px;
		&:checked {
			& + .label {
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.label {
		&:before {
			content: '';
			
			position: absolute;
			top: 0;
			left: 0;
			width: 22px;
			height: 22px;
			display: block;
			border: 1px solid #1962a5;

			border-radius: 50%;
			background-color: #fff;
		}
		&:after {
			content: '';

			position: absolute;
			top: 3px;
			left: 3px;
			width: 16px;
			height: 16px;

			background-color: #1962a5;

			border-radius: 50%;

			opacity: 0;
			visibility: hidden;
			transition: linear .2s;
		}
	}
	.button-oval {
		margin: 10px 0 15px;
	}
}