.rubrics {
	margin: 10px 0;
	& + h2 {
		margin-top: 35px;
	}
	ul {
		// display: flex;
		// flex-wrap: wrap;
		padding: 0;
		margin: 0;

		list-style: none;
		display: block;
		@include lg() {
		}
	}
	li {
		margin: 0 1px;
		// flex: 1 1 auto;
		@include lg() {
			// flex: 0 1 auto;
		}
	}
	a {
		@include fz(15px, 17px, $mixin-min-viewport, $mixin-max-viewport, 17px);
		line-height: (22 / 17);
		font-weight: 400;
		color: #0d59a0;
		&:hover {
			text-decoration: none;
			background: #29bbdf;
		}
	}
}