.table {
	border-collapse: collapse;
	width: 100%;
	tr {
		th, td {
			border-bottom: 1px solid #eee;
			padding: 15px 8px;
			vertical-align: middle;
		}
	}
	& > caption + thead > tr:first-child > th,
	& > colgroup + thead > tr:first-child > th,
	& > thead:first-child > tr:first-child > th,
	& > caption + thead > tr:first-child > td,
	& > colgroup + thead > tr:first-child > td,
	& > thead:first-child > tr:first-child > td {
		border-top: none;
	}
	tr {
		th {
			border-bottom: 2px solid #ddd;
			vertical-align: top;
			a {
				font-size: 17px;
				color: #0d59a0;
				line-height: 19px;
			}
		}
	}
	thead {
		background-color: #fafafa;
		a {
			color: #524F4F;
		}
	}
	.mini-table-title {
		display: block;
	}
}