.word {
	margin-bottom: 15px;
}

.word__img {
	flex: 0 0 205px;
	max-width: 205px;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
	img {
		display: block;
		width: 175px;
		height: 215px;
	}
}
.word__content {
	flex: 1 1 auto;
	.blockquote {
		// height: 100%;
	}
}