.wrapper {
	min-height: 100%;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex: 1 1 auto;
	& > * {
		flex: 1 1 auto;
		width: 100%;
		overflow-x: hidden;
	}
}

.wrapper__content {
	// overflow: hidden;
}
.wrapper__content-in {
	position: relative;
	min-height: 1000px;
	padding-top: 40px;
	@include pb(20px, 40px, $mixin-min-viewport, $mixin-max-viewport, 40px);
	@include pl(15px, 40px, $mixin-min-viewport, $mixin-max-viewport, 40px);
	@include pr(15px, 40px, $mixin-min-viewport, $mixin-max-viewport, 40px);

	background-color: #fff;
	border-radius: 10px;
	@include xl() {
		z-index: 1;
	}
}

.wrapper__content-row {
	flex-direction: column-reverse;
	@include lg() {
		flex-direction: row;
	}
}

.wrapper__content-main {
	@include lg() {
		width: 100%;
		flex: 0 0 67%;
		max-width: 67%;
	}
}

.wrapper__content-main_full {
	@include lg() {
		flex: 0 1 auto;
		max-width: none;
	}
}

.wrapper__content-aside {
	@include lg() {
		width: 100%;
		flex: 0 0 (100-67) + %;
		max-width: (100-67) + %;
	}
}


.wrapper__button-rubrics {
	color: #07c0e9;
	font-size: 30px;

	position: absolute;
	top: 0;
	right: 10px;
	@include lg() {
		display: none;
	}
}