$rem-font-size: 16px;
$Roboto: 'Roboto', sans-serif;
$MW: 'Merriweather', sans-serif;

// values for body tag
$document-font-family: $Roboto;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #474848;
$document-line-height: 1.5;
$document-background: #dff8bc;

$mixin-min-viewport: 575px;
$mixin-min-viewport-mmd: 767px;
$mixin-max-viewport: 1200px;