.background-wrap {
	padding: 17px 19px;
	
	border-radius: 5px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.background-wrap_shadow {
	box-shadow: 0 1px 7px rgba(#000, .07);
}
