blockquote {
	font-size: 17px;
	font-family: $MW;
	line-height: 1.35;
	font-style: italic;

	// display: flex;
	// flex-direction: column;
	& > * {
		width: 100%;
		display: block;
		&:last-child {
			margin-top: 25px;
			text-align: right;
			margin-bottom: 0;
		}
		&:only-child {
			margin-top: 0;
		}
	}
}