.button-clr {
	background-color: transparent;
	padding: 0;
	border: none;
}

.button {
	display: inline-block;
	width: 143px;
	padding: 9px 10px 7px;
	margin-top: 5px;
	margin-bottom: 5px;

	text-align: center;
	font-size: 14px;
	color: #9B9B9B;


	background-color: transparent;
	border: 1px solid #DCDCDC;
	border-radius: 4px;

	transition: ease .2s;
	&:hover {
		text-decoration: none;
		color: #464646;
	}
	&:after {
		vertical-align: middle;
		color: #D7DDDE;
	}
	&_green {
		background-color: #47CA6F;
		border-color: #47CA6F;
		color: #fff;
		&:hover {
			color: #fff;
			background-color: #28AF51;
			border-color: #28AF51;
		}
	}
	&_blue {
		background-color: #287DEB;
		border-color: #287DEB;
		color: #fff;
		&:hover {
			color: #fff;
			background-color: #0C6DEB;
			border-color: #0C6DEB;
		}
	}
}




.button-add {
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translate(0, 50%);
	max-width: 360px;
	padding: 15px;

	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgba(#000, .06);

	&__in {
		display: block;
		border: 1px dashed #C4C4C4;

		font-size: 100px;
		font-weight: 500;
		color: #C7C7C7;
		text-align: center;
	}
	&:hover {
		text-decoration: none;
	}
}


.button-oval {
	position: relative;
	
	display: inline-block;
	padding: 18px 15px 16px;
	@include pt(10px, 17px, $mixin-min-viewport, $mixin-max-viewport, 18px);
	@include pb(8px, 15px, $mixin-min-viewport, $mixin-max-viewport, 16px);
	border: 1px solid #000;

	color: #000;
	font-size: 15px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;

	border-radius: 52px;
	transition: ease .1s;

	.circle {
		position: absolute;

		top: 0;
		left: 0;
		transition: ease .1s;
		color: #008EF0;
		& + * {
			padding-left: 19px;
		}
	}
	.fa {
		font-size: 20px;
		margin-right: 10px;
		vertical-align: middle;
	}
	span {
		vertical-align: middle;
	}
	&:hover {
		text-decoration: none;
		opacity: .9;
	}
	&_green {
		background-color: #47CA6F;
		color: #fff;
		.circle {
			background-color: #47CA6F;
			color: #fff;
		}
		&:hover {
			color: #fff;
			background-color: #28AF51;
			opacity: 1;
			.circle {
				background-color: #28AF51;
			}
		}
	}
	&_blue {
		@include pt(10px, 18px, $mixin-min-viewport, $mixin-max-viewport, 18px);
		@include pb(8px, 16px, $mixin-min-viewport, $mixin-max-viewport, 16px);

		border: none;
		background: #09ccf3;
		background: -moz-linear-gradient(top, #09ccf3 0%, #0289bd 100%);
		background: -webkit-linear-gradient(top, #09ccf3 0%,#0289bd 100%);
		background: linear-gradient(to bottom, #09ccf3 0%,#0289bd 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09ccf3', endColorstr='#0289bd',GradientType=0 );
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
}

.button_without_style {
	border-color: transparent;
	padding: 0;
	width: auto;
	color: #adadad;
}


.button-search {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);
}

.button-oval_width {
	width: 100%;
	max-width: 200px;
}