.circle {
	width: 30px;
	height: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(#000, .16);
	

	font-size: 10px;
	&_green {
		background-color: #47CA6F;
		color: #fff;
	}
	&_red {
		background-color: #FF585E;
		color: #fff;
	}
	&_blue {
		background: #09ccf3;
		background: -moz-linear-gradient(top, #09ccf3 0%, #0289bd 100%);
		background: -webkit-linear-gradient(top, #09ccf3 0%,#0289bd 100%);
		background: linear-gradient(to bottom, #09ccf3 0%,#0289bd 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09ccf3', endColorstr='#0289bd',GradientType=0 );
		color: #fff;
	}
	&_size_large {
		width: 45px;
		height: 45px;
	}
}