.content {
	line-height: 1.375;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	font-family: $MW;
	font-style: italic;
	color: #0d59a0;
	font-weight: 700;
	&:only-child {
		margin: 0;
	}
}
h1 {

	@include fz(26px, 32px, $mixin-min-viewport, $mixin-max-viewport, 32px);
	@include lh(30px, 42px, $mixin-min-viewport, $mixin-max-viewport, 42px);
	font-weight: 900;
	span {
		@include fz(16px, 22px, $mixin-min-viewport, $mixin-max-viewport, 22px);
		display: block;
	}
}
h2 {
	@include fz(22px, 30px, $mixin-min-viewport, $mixin-max-viewport, 30px);
}
h3 {
	@include fz(20px, 26px, $mixin-min-viewport, $mixin-max-viewport, 26px);
}
h4 {
	@include fz(18px, 22px, $mixin-min-viewport, $mixin-max-viewport, 22px);
}
h5 {
	@include fz(18px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
}
h6 {
	@include fz(14px, 16px, $mixin-min-viewport, $mixin-max-viewport, 16px);
}
p {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;
	&:only-child {
		margin-bottom: 0;
	}
}


blockquote {
	// background: 0 0 #fafafa;
	// border-bottom: 3px dashed #bababa;
	// border-top: 3px dashed #bababa;
	// border-left: transparent;
	// color: #878787;
	// font-size: 16px;
	// font-style: italic;
	// line-height: 1.45;
	// padding: 10px 15px;
	// position: relative;
	// text-align: center;
	// margin-bottom: 30px;
}