.dropdown {
	
}
.dropdown-menu {
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	display: block;
	margin-top: -10px;

	opacity: 0;
	visibility: hidden;
	// z-index: 1;
	
	&.show {
		margin-top: 5px;
		margin-bottom: 5px;

		opacity: 1;
		visibility: visible;
		transition: opacity ease .2s,
					visibility ease .2s;
	}
}
.dropdown-menu_width_auto {
	min-width: auto;
	width: auto;
}
.dropdown-item {

}
.dropdown-toggle {
	// position: relative;
	// z-index: 2;
	margin: 5px 0;
	&:after {
		display: none;
	}
	// &:active {
	// 	pointer-events: none;
	// }
	// &:hover {
	// 	&:after {
	// 		display: block;
	// 	}
	// }
}
.dropdown-toggle_carret_none {
}

.dropdown_select {
	.button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 195px;
		padding: 4px 10px 3px 12px;
		margin: 5px 0;

		color: #444;
		text-align: left;

		background-color: #fff;
		border-color: #e2e2e2;
	}
}
.dropdown_blue {
	.dropdown-menu {
		z-index: 1;
		margin-top: 0;
		border: none;
		border-radius: 0 0 25px 25px;
		padding-top: 15px;
		padding-bottom: 15px;

		background-color: #07bde6;
		background-image: -moz-linear-gradient( 90deg, rgb(2,133,186) 0%, rgb(9,204,243) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(2,133,186) 0%, rgb(9,204,243) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(2,133,186) 0%, rgb(9,204,243) 100%);
		&:before{
			@include xl() {
				content: '';
				position: absolute;
				top: 0;
				left: 70%;
				transform: translate(-50%, 0);
				border-top: 1em solid #fff;
				border-right: 1.5em solid transparent;
				border-left: 1.5em solid transparent;
			}
		}
	}
	.dropdown-toggle {
		z-index: 2;
		position: relative;
	}
	.dropdown-item {
		display: block;
		width: 100%;
		color: #fff;
		font-size: 17px;
		line-height: 1;
		font-weight: 400;
		padding: 6px 20px;
		white-space: normal;
		&:hover {
			color: #06aedb;
		}
	}
}


.dropdown-menu_centered_desktop {
	left: auto !important;
	right: 0;
	@include xl() {
		&:after {
		}
	}
	@media only screen and (min-width: 1340px) {
		top: 100% !important;
		left: 50% !important;
		margin-left: -221px;
		&:before {
			right: auto;
			left: 50% !important;
		}
	}
}