.form-group {
	margin-bottom: 15px;
	position: relative;
	z-index: 2;
	display: inline-block;
}
.form-group_row {
	margin-left: -10px;
	margin-right: -10px;
	@include sm() {
		display: flex;
	}
	.label {
		margin-bottom: 0;
		width: 110px;
		@include sm() {
			margin-top: 11px;
			margin-bottom: 5px;
		}
	}
	.padding {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.form-group_radio {
	display: block;
	padding-left: 30px;
	margin-bottom: 20px;

	@include fz(16px, 18px, $mixin-min-viewport, $mixin-max-viewport, 18px);
	line-height: 1;
	color: #0d59a0;
	font-weight: 500;
	.label {
		margin-bottom: 0;
		min-height: 22px;
		padding-top: 3px;
	}
}