.iconText {
	position: relative;
	z-index: 2;
	@include mb(10px, 22px, $mixin-min-viewport, $mixin-max-viewport, 22px);

	@include fz(18px, 26px, $mixin-min-viewport, $mixin-max-viewport, 26px);
	line-height: 1.3;
	font-weight: 500;
	color: #0d59a0;

	display: flex;
	align-items: center;
	.fa {
		font-size: 14px;
		color: #0d59a0;
		width: 29px;
		height: 29px;
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		background-color: #b4e4f7;
		border-radius: 50%;
		// margin-right: 10px;
	}
	.fa-envelope {
		font-size: 12px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.iconText__icon {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin-right: 10px;
}
.iconText__content {
	flex: 1 1 auto;
	color: #0d59a0;
	&:hover {
		// text-decoration: none;
		color: #0d59a0;
	}
}


.iconText_rubrics {
	min-height: 48px;
	padding: 5px 10px;
	border-radius: 5px;

	background: #8cdff1;
	background: -moz-linear-gradient(top, #8cdff1 0%, #7fdbef 49%, #5fd3ed 50%, #0abdea 97%, #1fc3eb 98%, #0d59a0 100%);
	background: -webkit-linear-gradient(top, #8cdff1 0%,#7fdbef 49%,#5fd3ed 50%,#0abdea 97%,#1fc3eb 98%,#0d59a0 100%);
	background: linear-gradient(to bottom, #8cdff1 0%,#7fdbef 49%,#5fd3ed 50%,#0abdea 97%,#1fc3eb 98%,#0d59a0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cdff1', endColorstr='#0d59a0',GradientType=0 );
	// transition: linear .2s;
	.iconText__icon {
		flex: 0 0 34px;
		max-width: 34px;
		width: 100%;
	}
	img {
		height: 31px;
	}
	@include mlg() {
		background: none;
	}
}

.iconText_text_small {
	@include fz(16px, 17px, $mixin-min-viewport, $mixin-max-viewport, 17px);
}