.input {
	width: 100%;
	border: 1px solid #E2E2E2;
	padding: 4px 10px 3px;
	height: auto;
	margin: 5px 0;

	color: #444;

	border-radius: 4px;
	background-color: #fff;
	@include iph() {
		color: #444;
	}
	&:hover, &:focus {
		outline: none !important;
		// box-shadow: 0 3px 16px rgba(#000, .16);
		// border-color: transparent;
	}
}

.input_background {
	width: 270px;
	padding: 12px 25px 11px;

	background-image: url('../images/input-bg.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	// background-size: contain;
	background-size: cover;
	border-radius: 25px;
	&:hover {
		box-shadow: 0 2px 12px rgba(#028abe, .4);
	}
	@include sm() {
		width: 305px;
		padding: 15px 25px 14px;;

	}
}