.modal {

}
.modal-header {
	text-align: center;
	h3 {
		margin-bottom: 15px !important;
	}
}
.modal-content {
	background-color: transparent;
	border: none;
}

.modal__button-wrap {
	margin-top: 30px;
}