<footer class="footer">
	<div class="container-fluid">
		<div class="footer__in">
			<div class="row flex-md-nowrap align-items-center justify-content-center">
				<a href="#" class="footer__img logo padding">
					<img src="images/footer-img-2.png" alt="">
				</a>
				<div class="footer__main padding">
					<h2>Детский сад «Росинка» с. Сокол  <span>Долинского района Сахалинской области </span></h2>
					<div class="row align-items-center">
						<div class="footer__info col-lg-6">
							<div class="iconText">
								<div class="iconText__icon">
									<i class="fa fa-phone" aria-hidden="true"></i>
								</div>
								<a class="iconText__content" href="tel:84244295342">МБДОУ: 8 (42442) 95-3-42</a>
							</div>
						</div>
						<div class="footer__info col-lg-6">
							<div class="iconText iconText_text_small">
								<div class="iconText__icon">
									<i class="fa fa-location-arrow" aria-hidden="true"></i>
								</div>
								<a class="iconText__content" href="#">694060 Сахалинская область, Долинский район, с. Сокол ул. Луговая 49а</a>
							</div>
						</div>
						<div class="footer__info col-lg-6">
							<div class="iconText">
								<div class="iconText__icon">
									<i class="fa fa-envelope" aria-hidden="true"></i>
								</div>
								<a class="iconText__content" href="mailto:rosinka-2014@mail.ru">rosinka-2014@mail.ru</a>
							</div>
						</div>
						<div class="footer__info col-lg-6">
							<div class="footer__developed">
								<span>Разработано</span>
								<span><img src="images/content/logo-web.png" alt=""></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="modal fade" id="votingResult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="poll">
				<div class="modal-header d-block">
					<h3>Результаты опроса на тему:</h3>
					<h4>Довольны ли Вы качеством предоставляемых  услуг в ДОУ?</h4>
				</div>
				<div class="percent-block">
					<div class="percent-block__deription">
						<h6>
							<span>Да</span>
							<span class="percent-block__current_percent" data-scale-descr-curr-percent>(0%)</span>
						</h6>
					</div>
					<div class="percent-block__wrap">
						<div class="percent-block__scale" data-scale-id="scale" data-scale-current="80"></div>
					</div>
				</div>
				<div class="percent-block">
					<div class="percent-block__deription">
						<h6>
							<span>Нет</span>
							<span class="percent-block__current_percent" data-scale-descr-curr-percent>(0%)</span>
						</h6>
					</div>
					<div class="percent-block__wrap">
						<div class="percent-block__scale" data-scale-id="scale" data-scale-current="3"></div>
					</div>
				</div>
				<div class="percent-block">
					<div class="percent-block__deription">
						<h6>
							<span>Хотелось бы лучше</span>
							<span class="percent-block__current_percent" data-scale-descr-curr-percent>(0%)</span>
						</h6>
					</div>
					<div class="percent-block__wrap">
						<div class="percent-block__scale" data-scale-id="scale" data-scale-current="17"></div>
					</div>
				</div>
				<div class="modal__button-wrap text-center">
					<button type="button" class="button-oval button-oval_blue button-oval_width mr-auto ml-auto" data-dismiss="modal">Закрыть</button>
				</div>
			</div>
		</div>
	</div>
</div>