<header class="header">
	<div class="header__container container-fluid">
		<div class="header__title row justify-content-center justify-content-lg-end align-items-center">
			<div class="padding">
				<h1>
					Детский сад «Росинка» с. Сокол
					<span>Долинского района Сахалинской области </span>
				</h1>
			</div>
			<div class="padding">
				<a href="#" href="#" class="header__button button-oval button-oval_blue bvi-panel-open">
					<i class="fa fa-eye" aria-hidden="true"></i>
					<span>Версия для слабовидящих</span>
				</a>
			</div>
			<a href="#" class="header__logo logo padding">
				<img src="images/footer-img-2.png" alt="">
			</a>
			<div class="header__button-menu padding">
				<button class="button-clr circle circle_size_large circle_blue" type="button" data-open="menu">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</button>
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="header__info col-sm-6 col-xl-5">
				<form>
					<div class="form-group">
						<input type="text" class="input input_background">
						<button type="submit" class="button-search button-clr"><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
				</form>
				<div class="iconText">
					<div class="iconText__icon">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</div>
					<a class="iconText__content" href="mailto:rosinka-2014@mail.ru">rosinka-2014@mail.ru</a>
				</div>
				<div class="iconText">
					<div class="iconText__icon">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</div>
					<a class="iconText__content" href="tel:84244295342">МБДОУ: 8 (42442) 95-3-42</a>
				</div>
				<div class="iconText iconText_text_small">
					<div class="iconText__icon">
						<i class="fa fa-location-arrow" aria-hidden="true"></i>
					</div>
					<a class="iconText__content" href="#">694060 Сахалинская область, Долинский район, с. Сокол ул. Луговая 49а</a>
				</div>
			</div>
		</div>
	</div>
</header>