<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="favicon-16x16.png">
<link rel="icon" type="image/png" href="favicon-16x16.png">
<link rel="stylesheet" href="styles/vendor.css">
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="js/libs/vision/css/bvi.css">