<script src="js/libs/jquery.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src='js/libs/jquery-migrate.js'></script> 
<script src='js/libs/vision/js/responsivevoice.min.js'></script> 
<script src="js/libs/vision/js/bvi-init-panel.min.js"></script>
<script src="js/libs/vision/js/bvi.min.js"></script> 
<script src="js/libs/vision/js/js.cookie.min.js"></script>
<script src="js/libs/popper.js"></script>
<script src="js/libs/bootstrap.js"></script>
<script src="js/main.js"></script>